/* Fuentes. */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Ajustes globales. */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;
}

/*  Layout. */
body { 
    display: grid;
    grid-template: 
        "body01" auto
        "body02" auto
        "body03" auto /
        1fr;
}
header {grid-area: body01;}
main   {grid-area: body02;}
footer {grid-area: body03;}



.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.info .info-descripcion {
    max-width: 550px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.info-boton {
    background-color: #0497fa;
    padding: 12px 34px;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.destacados {
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.destacados > p {

    font-size: 16px;
    color: #0497fa;
    width: 100%;
    
}

.tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(260px, 1fr));
    justify-content: center;
    
    
}

.tarjeta {
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    
    
}

.tarjeta .titulo-tarjeta {
    font-size: 30px;
    color: #0497fa;
    text-decoration: none;
}

.tarjeta .texto-tarjeta {
    font-size: 20px;
    color: #666666;
    text-decoration: none;
}

.tarjetas .imagen-tarjeta {
    width: 100%;
}