
@media (max-width: 1050px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
@media (max-width: 825px) {
    .tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .tarjetas {
        display: grid;
        grid-template-columns: 1fr;
    }
    .tarjeta img {
        
        width: 100px;
    }    
}
